.header {
    border-bottom: 1px solid #455057;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: var(--main-background-color);
    width: var(--site-width);
}