.loading-container {
    display: flex;
    padding: 0 10px;
    margin: 10px 0;
}

.button-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.button {
    border: 1px solid hsl(0,0%,80%);
    outline: none;
    padding: 10px 20px;
    min-width: 100px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    white-space: nowrap;
    min-height: 38px;
    transition: all 0.25s;
}

.button:hover {
    border-color: hsl(0,0%,70%);
}