.loading-container {
    display: flex;
    padding: 0 10px;
    margin: 10px 0;
}

.button-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.button {
    overflow: hidden;
    position: relative;
    border: none;
    outline: none;
    padding: 10px 20px;
    min-width: 100px;
    cursor: pointer;
    background: linear-gradient(rgb(48, 178, 230) 0%, rgb(43, 158, 204) 100%), rgb(48, 178, 230);
    color: white;
    white-space: nowrap;
    height: 38px;
    transition: all 0.15s ease-in-out;
    font-size: 16px;
    box-sizing: border-box;
    clip-path: polygon(0% 0px, 0px 0%, 100% 0%, 100% 0px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0px 100%, 0% calc(100% - 10px));
}

.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
    clip-path: polygon(0px 0px, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
    background: radial-gradient(171.5px at 50% 50%, rgba(116, 228, 255, 0.3) 0%, rgba(116, 228, 255, 0) 100%), rgb(48, 178, 230);
    transition: all 0.25s ease-in-out;
}

.button:hover:before {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.button:after {
    content: "";
    visibility: visible;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background: transparent;
    opacity: 0;
}

.button:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.button span {
    z-index: 1;
    position: relative;
}