.tables__scroll-container {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 107px - 48px);
}

.tables__container {
    padding: 0 10px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

th {
    padding: 10px;
    background: rgba(34, 34, 34, 0.8);
    color: #8a8a8a;
}

td {
    padding: 10px;
}

.row-odd td {
    background-color: rgba(34, 34, 34, 0.5);
}

.price-table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.column-name {
    width: 50%;
    text-align: left;
}

.column-price {
    width: 25%;
    text-align: right;
}